<div
	nbCluster
	gap="md"
	align="center">
	<button
		nbButton
		[disabled]="isLoadingLocation()"
		(click)="detectLocation()"
		tone="accent"
		data-testid="detect-location-button">
		@if (isLoadingLocation()) {
			Detectando...
		} @else {
			Detectar Minha Localização 📍
		}
	</button>

	@if (locationError()) {
		<span
			nbCallout
			tone="danger"
			shadow="hard"
			class="p-2 font-bold"
			data-testid="detect-location-error-message">
			⚠️ {{ locationError() }}
		</span>
	}
</div>

@if (localCity()) {
	<div
		nbStack
		gap="xs"
		class="mt-4"
		data-testid="local-city">
		<div
			nbCluster
			gap="md">
			<city-card
				[city]="localCity()!.city"
				[temperature]="localCity()!.temperature"
				[latitude]="localCity()!.latitude"
				[longitude]="localCity()!.longitude"
				class="w-full"
				showType="grid" />
		</div>
	</div>
}
