@import 'tailwindcss';
@import '@ng-brutalism/ui/styles.css';

/* You can add global styles to this file, and also import other style files */
body {
  background-color: #fafafa;
  background-image: radial-gradient(#000 1px, transparent 1px);
  background-size: 20px 20px;
}
